venv/
myenv/
.env
database_migrations_psql/

*.pyc
__pycache__/
.idea/
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

logs
/venv2/

crawl4ai_custom/fit_html/
crawl4ai_custom/non-llm-markdown/
crawl4ai_custom/markdowns/
